# Dependencies
**/node_modules

# Environment files
**/.env

# Build outputs
**/dist
**/build

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode

# Prisma generated client (if you generate it locally)
**/generated